*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body-width: 100%;
  --body-height: 100vh;
  --main-content-width: 50vw;
  --main-content-width-max: 500px;
  --main-content-width-min: 300px;
  --text-entry-height: 2em;
  --separator-thickness: 3px;
  --default-margin: 10px; 
  --default-border-rad: 8px;
  --text-area-padding: 2px;
  --fieldset-padding: 2rem;
  --inline-top-margin: .5em;

  --bg-color: #1b1b32;
  --font-color: #f5f6f7;
  --separator-color: #3b3b3f;
  --input-textarea-color: #2f2f62;
  --input-txt-color: #fff;

}

body {
  width: var(--body-width);
  height: var(--body-height);
  background-color: var(--bg-color);
  color: var(--font-color);
}

header, main, footer {
  margin: 0 auto;
  text-align: center;
  width: var(--main-content-width);
  max-width: var(--main-content-width-max);
  min-width: var(--main-content-width-min);
}

header {
  margin-top: var(--default-margin);
}

footer {
  padding: var(--default-margin);
}

fieldset {
  border: none;
  padding: var(--fieldset-padding) 0;
  border-bottom: var(--separator-thickness) solid var(--separator-color);
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: var(--default-margin) 0;
}

input,
textarea,
select {
  margin: var(--default-margin) 0;
  width: var(--body-width);
  min-height: var(--text-entry-height);
}

input, textarea {
  background-color: var(--input-textarea-color);
  border: 1px solid var(--input-textarea-color);
  color: var(--input-txt-color);
  padding: var(--text-area-padding);
}

.inline {
  width: unset;
  margin: 0 var(--inline-top-margin) 0 0;
}

input[type="submit"] {
  border-radius: var(--default-border-rad);
  margin: var(--default-margin) 0;
  font-weight: bold;
}

